body {
	background-color: #0f1111;
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

img, video {
	width: 40em;
	height: auto;
}

a {
	text-decoration: none;
	text-decoration-color: currentcolor;
	color: rgb(158, 225, 255);
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.7em;
	cursor: default;
}

a:hover, a:focus {
	text-decoration: underline;
}

a:visited {
	color: rgb(162, 148, 255);
}

.table-cell {
	display: table-cell;
}

.table-row {
	display: table-row;
}

.unlink {
	text-decoration: none !important;
	color: white !important;
}

.unlink-color {
	color: white !important;
}

.header {
	display: table-cell;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 0.25em;
}

.header3 {
	display: table-cell;
	font-size: 1.17em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.index-header::before {
	content: "Welcome to My Webpage!";
}

.index-header:hover::before {
	content: "Welcome to My Meme Page!";
}

.reimagined:hover::after {
	content: " (very cool)";
}	

.twitter-text::before {
	content: "my 𝕏";
}

.twitter-text:hover::before {
	content: "my twitter";
}

.x-intro:hover::after {
	content: " (credits to gx brand account)";
}
